body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.watchAttr {
  background-color: aquamarine;
  width: 120px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  margin-bottom: 15px;
}

p {
  display: block;
  background-color: blanchedalmond;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
}
  
